<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memes Generator</title>
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <% if(locals.dynamicImg && locals.tt) {%>
      <img src="<%= dynamicImg %>" alt="meme" id="meme" />
      <h3>
        <%= tt %>
      </h3>
      <% } else { %>
        <h1>Get ready to laugh!!</h1>
        <h3 id="title">hahaha!</h3>
      <% } %>
      <form action="/getMeme" method="post" id="formBtn" >
        <button id="get-meme-btn">Get Meme</button>
      </form>
      
    </div>
  </body>
</html>